@*
    Page listing all the movies currently stored
*@
@{
    ViewBag.Title = "Movies";
}

@model IEnumerable<MovieResponse>

<div>
    <table class="table table-striped">
        <thead>
            <tr><th>Category</th><th>Title</th><th>Year</th><th>Director</th><th>Rating</th><th>Edited</th><th>LentTo</th><th>Notes</th></tr>
        </thead>

        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>
                        <form asp-action="Edit" method="post">
                            <button>Edit</button>
                            <input type="hidden" id="movie" value="@x.MovieID" name="movieID" />
                        </form>
                    </td>
                    <td>@x.Category</td>
                    <td>@x.Title</td>
                    <td>@x.Year</td>
                    <td>@x.Director</td>
                    <td>@x.Rating</td>
                    <td>@x.Edited</td>
                    <td>@x.LentTo</td>
                    <td>@x.Notes</td>
                    <td>
                        <form>
                            <button>Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>